$palette-grey: (
  d1: #000000,
  m0: #333333,
  l1: #404040,
  l2: #4d4d4d,
  l3: #a6a6a6,
  l4: #bfbfbf,
  l5: #d9d9d9,
  l6: #f2f2f2,
  l7: #ffffff,
);

$palette-primary: (/* Add the primary colors variations */);
