/* FONT SIZES */
$font-size-h1: 9.6rem;
$font-size-h2: 6rem;
$font-size-h3: 4.8rem;
$font-size-h4: 3.4rem;
$font-size-h5: 2.4rem;
$font-size-h6: 2rem;
$font-size-subtitle1: 1.6rem;
$font-size-subtitle2: 1.4rem;
$font-size-body1: 1.6rem;
$font-size-body2: 1.4rem;
$font-size-button: 1.4rem;
$font-size-caption: 1.2rem;

/* FONT WEIGHTS */
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

/* FIXED SIZES */
$size-8: 0.8rem;
$size-16: 1.6rem;
$size-24: 2.4rem;
$size-32: 3.2rem;

/* CONTAINER WIDTH */
$width-container: 136.6rem;
